.awesome-blog__logo {
    font-family: 'Abril Fatface';
    font-size: 2rem;
    line-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-shadow: 0.25rem 0 0.13rem rgba(70, 70, 70, 0.7);
    background: #000000;
    border-radius: 0.5rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem 0.5rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

.awesome-blog__title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    padding-top: 1rem;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.1s ease, transform 0.3s ease;
}

.awesome-blog__title-visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

@media (max-width: 431px) {
    .awesome-blog__logo {
        margin-bottom: 1.5rem;
    }

    .awesome-blog__title {
        opacity: 1;
        padding-top: 0;
    }

    .awesome-blog__title-visible {
        transform: none;
    }
}